CompileFlags:
  Add:
    - "-Iinclude"
    - "-Ilib"
    - "-Iutils"
    - "-std=c++20"
    - "-Wall"
    - "-Wextra"
    - "-Werror"
    - "-D__EMSCRIPTEN__=1"
    # - "--target=wasm32-unknown-emscripten"
    # - "--sysroot=/home/goinfre/tools/emsdk/upstream/emscripten/cache/sysroot"
    # - "-I/home/goinfre/tools/emsdk/upstream/emscripten/cache/ports/emdawnwebgpu/emdawnwebgpu/include"
  Remove:
    - "--use-port=*"
    - "-s*"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
